<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="Youtube">
        <h3>Youtube Downloader</h3>
        <div>
            <form action=" {{ url_for('handle_data') }}" method="POST">
                <input type="text" name="data">
                <input type="submit">
            </form>
        </div>
    </div>
    <div class="Results">
        <ol>
        {% for i in items %}
        <li> {{i}} </li>
        <button class="btn"><i class="fa fa-download"></i> Download</button>
        {% endfor %}
        </ol>
    </div>
</body>
</html>